* {
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ed0b1a;
    font-size: 30px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the header */
header {
    position: absolute;
    z-index: 2;
    background-color: #111;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;
    cursor: pointer;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: #ed0b1a;
    font-size: 30px;
    text-decoration: none;
}

#header-name {
    display: inline;
}

.panel {
    min-width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    background: #fff;
    display: none;
}

.panel.is-visible {
    display: block;
}

.content {
    width: 100%;
    padding: 30px;
    position: absolute;
    padding-bottom: 30px;
    display: block;
    margin-top: 50px;
}

.content p {
    font-size: 18px;
    padding: 10px;
    line-height: 24px;
    display: inline-block;
    padding: 10px;
    margin: 3px 0px;
}

.me {
    width: 100%;
    vertical-align: middle;
}

.social-link {
    font-size: 40px;
    text-align: center;
}

.social-link a {
    color: #000;
}

.social-link a:hover {
    font-size: 50px;
    color: #000;
}

/* Clear floats after the columns */
#body:after {
    content: '';
    display: table;
    clear: both;
}

.error {
    font-size: 12px;
    display: hidden;
    color: red;
}

.gen_error {
    width: 100%;
    border: solid 1px;
    padding: 5px;
    font-size: 15px;
    display: none;
    color: red;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    footer {
        /* position: relative; */
    }
}
